* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.test1 {
  background-color: #f4e3d7;
}
.test2 {
  background-color: #f4d5c0;
}
.test3 {
  background-color: #eca779;
}
.test4 {
  background-color: #e8e3e8;
}
.test5 {
  background-color: #d8c0d8;
}
.test6 {
  background-color: #c983c9;
}

.st-header {
  background-color: #f4d5c0;
}

.st-logo {
  height: 124px;
}

.st-navbar {
  height: 80px;
  background-color: #d8c0d8;
  border-width: 5px 0px;
  border-style: solid;
  border-color: #c983c9;
}

.st-button {
  width: 15vw;
  max-width: 200px;
  height: 55px;
  background-color: #d8c0d8;
  border: 1px solid #c983c9;
  border-radius: 5px;
  color: #c983c9;
  font-weight: 600;
}

.st-cart-button {
  width: 55px;
  height: 55px;
  background-color: #d8c0d8;
  border: 1px solid #c983c9;
  border-radius: 50%;
  color: #c983c9;
  font-weight: 600;
  cursor: pointer;
}

.st-cart-icon {
  width: 30px;
}

.st-button:hover {
  background-color: #c983c9;
  color: #d8c0d8;
}

.st-cart-button:hover {
  background-color: #c983c9;
}

.st-main {
  background-color: #f4d5c0;
  padding: 50px;
}

.st-container {
  height: 620px;
  background-color: #f4e3d7;
  border: 5px solid #eca779;
  border-radius: 20px;
  width: 100%;
}

.st-content {
  padding: 50px;
  height: 100%;
}

.st-footer {
  height: 100px;
  background-color: #d8c0d8;
  border-top: 5px solid #c983c9;
  padding-left: 20px;
  padding-right: 20px;
}

.st-footer-block {
  width: 50%;
}

.st-footer-block-inner {
  padding: 10px 10px 0px 10px;
}

.st-divider {
  border-left: 5px solid #c983c9;
  height: 100%;
}

.st-title {
  overflow-x: visible;
  text-align: center;
}

#cart-modal {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 1024px;
  background-color: #4141414e;
}

#cart {
  position: absolute;
  z-index: 3;
  width: 300px;
  height: 1024px;
  background-color: white;
  right: -300px;
}
